entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start React Development"

[[workflows.workflow]]
name = "Start React Development"
author = 44826427
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Backend Server Only"
author = 44826427
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow]]
name = "Frontend Server Only"
mode = "sequential"
author = 44826427

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
